# Database connection string
# Use "db" as the hostname when running inside Docker Compose
# Use "localhost" (or your local IP) when running the Express app directly on your host machine
DATABASE_URL="postgresql://postgres:postgres@db:5432/library"

# Server Port
PORT=3000

# Security Key for Header Authentication (x-api-key: your-secret-key)
API_KEY=your-secret-key

# Execution Environment Setting (development / production)
NODE_ENV=development
